In [ ]:
from dcicutils import ff_utils
from functions.notebook_functions import *

# get key from file
my_key = get_key('koray_data')
# all usable env names
all_envs = ['data', 'staging', 'fourfront-webdev', 'fourfront-mastertest', 'fourfront-hotseat']
# get admin key from s3
#my_key = ff_utils.get_authentication_with_server({}, ff_env = 'data')

In [ ]:
q = '/search/?lab.display_title=4DN+DCIC%2C+HMS&type=FileReference'
gen = ff_utils.search_metadata(q, key=my_key)
print(len(gen))

In [1]:
file = '/Users/koray/Desktop/Wrangling/Labs/Gianluca/181027FinnProcessed/minDist.All.DCIC.txt'
import pandas as pd
df = pd.read_csv(file, sep = '\t')
df.shape

(1025357, 12)

In [4]:
df.columns.values

array(['assay.id', 'nrow', 'ncol', 'Bait', 'Target', 'chr', 'FieldIndex',
       'CellIndex', 'BaitSpotIndex', 'TargetSpotIndex', 'SpotDist.2D',
       'SpotDist.3D'], dtype=object)

In [5]:
df.head()

,assay.id,nrow,ncol,Bait,Target,chr,FieldIndex,CellIndex,BaitSpotIndex,TargetSpotIndex,SpotDist.2D,SpotDist.3D
0,BC_161212,2,2,607.0,610.0,4,1,1,1,1,0.108333,0.511601
1,BC_161212,2,2,607.0,610.0,4,1,1,2,2,0.390600,0.390600
2,BC_161212,2,2,607.0,610.0,4,1,2,1,1,0.216666,0.216666
3,BC_161212,2,2,607.0,610.0,4,1,2,2,2,0.433332,0.433332
4,BC_161212,2,2,607.0,610.0,4,1,4,1,1,0.459618,0.459618

In [11]:
df_simple = df[['assay.id', 'Bait', 'Target', 'chr']].copy()

In [19]:
df_unique = df_simple.drop_duplicates()
df_unique.to_csv('/Users/koray/Desktop/Wrangling/Labs/Gianluca/181027FinnProcessed/unique_min_dist.txt')

In [20]:
file2 = '/Users/koray/Desktop/Wrangling/Labs/Gianluca/181027FinnProcessed/BC_160210_SpotLocs_simp.txt'
import pandas as pd
df = pd.read_csv(file2, sep = '\t')
df.shape

(76892, 18)

In [22]:
df.head()

,Localization_ID,C,X,Y,Z,Experiment_ID,Row_ID,Col_ID,Probe_Green,Probe_Red,Probe_FarRed,chr,Field_ID,Cell_ID,Spot_ID_inCell,Green_NumberofSpots_inCell,Red_NumberofSpots_inCell,FarRed_NumberofSpots_inCell
0,1,Green,81.6937,9.0412,0,BC_160210,2,3,52,11,91,1,1,1,1,2,2,2
1,2,Green,78.4647,15.4992,1,BC_160210,2,3,52,11,91,1,1,1,2,2,2,2
2,3,Green,128.8371,14.8534,1,BC_160210,2,3,52,11,91,1,1,3,1,2,2,2
3,4,Green,128.1913,23.2488,0,BC_160210,2,3,52,11,91,1,1,3,2,2,2,2
4,5,Green,198.9064,24.2175,1,BC_160210,2,3,52,11,91,1,1,4,1,2,2,2

In [21]:
df.columns.values

array(['Localization_ID', 'C', 'X', 'Y', 'Z', 'Experiment_ID', 'Row_ID',
       'Col_ID', 'Probe_Green', 'Probe_Red', 'Probe_FarRed', 'chr',
       'Field_ID', 'Cell_ID', 'Spot_ID_inCell',
       'Green_NumberofSpots_inCell', 'Red_NumberofSpots_inCell',
       'FarRed_NumberofSpots_inCell'], dtype=object)

In [23]:
df_simple = df[['Experiment_ID', 'chr', 'Probe_Green', 'Probe_Red', 'Probe_FarRed']].copy()

In [24]:
df_unique = df_simple.drop_duplicates()
df_unique.to_csv('/Users/koray/Desktop/Wrangling/Labs/Gianluca/181027FinnProcessed/BC_160210_SpotLocs_unique.txt')